.box{
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 16px;  
    color: rgb(41, 41, 41);
}
.title{
    margin-bottom: 50px  !important;
    margin-top: -40px !important;
}

 .product-card {
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.2s ease;
 }

 .product-card:hover {
     transform: translateY(-10px);
 }