NODE_ENV=development
APP_PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=nfmei
DB_SCHEMA=public
DB_SSL=false



NOTIF_MANUAL_TEST=true
NOTIF_TEST_USER_ID=1
NOTIF_TEST_YEAR=2025
NOTIF_TEST_CHANNEL=EMAIL

JWT_SECRET=test.secret
JWT_EXPIRES_IN=1d

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

SMS_PROVIDER=none
SMS_FROM=
SMS_ACCOUNT_SID=
SMS_AUTH_TOKEN=

CORS_ORIGINS=*

SEED_ADMIN_EMAIL=admin@local.dev
SEED_ADMIN_PASS=admin123
DB_SCHEMA=public
SEED_USERS_TABLE=users
SEED_SETTINGS_TABLE=settings